on:
  workflow_dispatch:
jobs:
  build_latex:
    name: "build pdf"
    runs-on: ubuntu-24.04
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: resume.tex
      - name: Push new compiled resume
        run: |
          git config user.name crosleyzack
          git config user.email crosleyzack@gmail.com
          git add -f resume.pdf
          git diff --quiet && git diff --staged --quiet || git commit -m "[gh-action] Compile Resume"
          git push origin master
